
/* 

TODO

Set Background
Set Fonts

*/

@font-face {
    font-family: 'Morganite-Black';
    src:url('../../../fonts/Morganite-Black.ttf.woff') format('woff'),
        url('../../../fonts/Morganite-Black.ttf.svg#Morganite-Black') format('svg'),
        url('../../../fonts/Morganite-Black.ttf.eot'),
        url('../../../fonts/Morganite-Black.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.OverlayBody{
    background-color: white !important;
}

.ecslogo {
    width: 20%;
    height: 20%;
    position: absolute;
    left: 44.5%;
    top: 0%;
    background-image: url(../../../images/faceitecs.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

.LeftWebcam{
    position: fixed;
    bottom: 40%;
    left: 5%;
    width: 44.5%;
    height: 40%;
    background-color: black;
}

.LeftWebcamText{
    color: white;
    text-align: center;
    position: absolute;
    font-size: xx-large;
    top: 45%;
    right: 35%;
}

.LeftWebcamName{
    left: 0;
    height: 100%;
    display: table;
    position: absolute;
    background-color: white;
}

.LeftWebcamNameText{
    color: orange;
    writing-mode: vertical-lr;
    font-size: xx-large;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.RightWebcam{
    position: fixed;
    bottom: 40%;
    right: 5%;
    width: 44.5%;
    height: 40%;
    background-color: black;
}

.RightWebcamText{
    color: white;
    text-align: center;
    position: absolute;
    font-size: xx-large;
    top: 45%;
    left: 35%;
}

.RightWebcamName{
    height: 100%;
    width: 7.5%;
    right: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: white;
}

.RightWebcamNameText{
    position: absolute;
    margin-top: -25%;
    top: 50%;
    color: orange;
    font-size: xx-large;
    white-space: nowrap;
    transform: rotate(90deg);
    transform-origin: 0 0 0 0;
}

.LowerThird{
    position: fixed;
    bottom: 10%;
    left: 10%;
    width: 80%;
    height: 15%;
    background-color: #e3c431;
}

.LowerThirdBox{
    left: 0;
    height: 100%;
    display: table;
    color: black;
    position: absolute;
    background-color: black;
    writing-mode: vertical-lr;
}

.LowerThirdTitle{
    top: -10%;
    left: 3%;
    color: black;
    text-align: left;
    position: absolute;
    font-size: 600%;
    font-family: 'Morganite-Black';
}

.LowerThirdSubtitle{
    left: 3%;
    bottom: 10%;
    color: black;
    text-align: left;
    font-weight: 400;
    position: absolute;
    font-size: x-large;
}

.LowerThirdVsBox{
    height: 100%;
    right: 15%;
    position: absolute;
    background-color: white;
    display: table;
}

.LowerThirdVsText{
    color: black;
    writing-mode: vertical-lr;
    font-size: x-large;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.LowerThirdTeam1{
    height: 50%;
    width: 15%;
    right: 0%;
    position: absolute;
    background-color: #ee6205;
}

.LowerThirdTeam1Logo{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 4%;
    background-image: url(../../../images/faceitecs.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.LowerThirdTeam1Name{
    top: 15%;
    right: 5%;
    color: black;
    font-weight: 700;
    text-align: center;
    position: absolute;
    font-size: xx-large;
}

.LowerThirdTeam2{
    top: 50%;
    right: 0%;
    width: 15%;
    height: 50%;
    position: absolute;
    background-color: #1898d8;
}

.LowerThirdTeam2Logo{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 4%;
    background-image: url(../../../images/faceitecs.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.LowerThirdTeam2Name{
    top: 15%;
    right: 5%;
    color: black;
    font-weight: 700;
    text-align: center;
    position: absolute;
    font-size: xx-large;
}