.VetoMapWhite{
    background-color: white;
    display: flex;
    position: fixed;
    width: 10%;
    height: 15%;
}

.VetoMapGrey{
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    width: 10%;
    height: 15%;
}

.VetoMapTeam{
    width: 20%;
    height: 22%;
    position: absolute;
    left: 0%;
    top: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}

.VetoMapText{
    display: flex;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
    position: absolute;
    font-family: "purista-web",sans-serif;
    font-size: 1.15vw;
    background-color: rgb(31, 31, 31);
    z-index: 1;
}

.VetoMapImage{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;
}