.LowerThird{
    position: fixed;
    bottom: 10%;
    left: 10%;
    width: 80%;
    height: 15%;
    background-color: #e3c431;
}

.LowerThirdTeam1{
    height: 50%;
    width: 15%;
    right: 0%;
    position: absolute;
}

.LowerThirdTeam1Logo{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 3%;
    top: 10%;
    background-repeat: no-repeat;
    background-size: contain;
}

.LowerThirdTeam1Name{
    top: 15%;
    right: 5%;
    color: black;
    font-weight: 700;
    text-align: right;
    position: absolute;
    font-size: 2vw;
    font-family: "purista-web",sans-serif;
}

.LowerThirdTeam2{
    top: 50%;
    right: 0%;
    width: 15%;
    height: 50%;
    position: absolute;
}

.LowerThirdTeam2Logo{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 3%;
    top: 10%;
    background-repeat: no-repeat;
    background-size: contain;
}

.LowerThirdTeam2Name{
    top: 15%;
    right: 5%;
    color: black;
    font-weight: 700;
    text-align: right;
    position: absolute;
    font-size: 2vw;
    font-family: "purista-web",sans-serif;
}