.LowerThird{
    position: fixed;
    bottom: 10%;
    left: 10%;
    width: 80%;
    height: 15%;
    background-color: #e3c431;
    background-image: url(../../../../../images/HUDtexture.png);
}

.LowerThirdTeam1{
    height: 50%;
    width: 15%;
    right: 0%;
    position: absolute;
}

.LowerThirdTeam1Logo{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 3%;
    top: 10%;
    background-repeat: no-repeat;
    background-size: contain;
}

.LowerThirdTeam1Name{
    top: 15%;
    right: 5%;
    color: black;
    font-weight: 700;
    text-align: right;
    position: absolute;
    font-size: 2vw;
    font-family: "purista-web",sans-serif;
}

.LowerThirdTeam2{
    top: 50%;
    right: 0%;
    width: 15%;
    height: 50%;
    position: absolute;
}

.LowerThirdTeam2Logo{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -40%;
    background-repeat: no-repeat;
    background-size: contain;
}

.LowerThirdTeam2Name{
    top: 50%;
    left: 25%;
    color: black;
    font-weight: 700;
    text-align: left;
    position: absolute;
    font-size: 2vw;
    margin-top: -1.5vw;
    font-family: "purista-web",sans-serif;
}

.LowerThirdBox{
    left: 0;
    height: 100%;
    display: table;
    color: black;
    position: absolute;
    background-color: black;
    writing-mode: vertical-lr;
}

.LowerThirdTitle{
    top: -15%;
    left: 3%;
    color: black;
    text-align: left;
    position: absolute;
    font-size: 5vw;
    font-family: 'Morganite-Black';
}

.LowerThirdSubtitle{
    left: 3%;
    bottom: -15%;
    color: black;
    text-align: left;
    font-weight: 400;
    position: absolute;
    font-size: 2vw;
    font-family: "purista-web",sans-serif;
    font-weight: 400;
}

.LowerThirdVsBox{
    height: 100%;
    width: 4%;
    right: 15%;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: white;
}

.LowerThirdVsText{
    position: absolute;
    margin-top: -25%;
    top: 45%;
    color: black;
    font-size: 1.75vw;
    white-space: nowrap;
    transform: rotate(-90deg);
    font-family: "purista-web",sans-serif;
}