.ControlPanelBody {
    background-color: #C0C0C0;
    background-image: url("../../../images/BG.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.controlPanelCardStyling {
    width: "90%";
    height: "70%";
}

.controlPanelCardPadding {
    padding-left: 0%;
    padding-top: 0%;
}

.controlPanelCardAlignment {
    justify-content: left;
    vertical-align: middle;
    padding-top: 0%;
    margin-top: 0%;
}

.centerText {
    text-align: center;
}

@media only screen and (max-width: 1000px) {

    .controlPanelCardAlignment {
        justify-content: center;
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 8%;
    }

    .controlPanelCardPadding {
        padding-left: 0%;
        padding-top: 5%;
    }

    .ControlPanelCardStyling {
        width: "10%";
        height: "10%";
    }
  }


@media only screen and (max-width: 575px) {

    .controlPanelCardAlignment {
        justify-content: center;
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
    }

    .controlPanelCardPadding {
        padding-left: 0%;
    }

    .controlPanelCardStyling {
        width: "100%";
        height: "100%";
    }
}