@font-face {
    font-family: 'Morganite-Black';
    src:url('../../../../fonts/Morganite-Black.ttf.woff') format('woff'),
        url('../../../../fonts/Morganite-Black.ttf.svg#Morganite-Black') format('svg'),
        url('../../../../fonts/Morganite-Black.ttf.eot'),
        url('../../../../fonts/Morganite-Black.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@import url("https://p.typekit.net/p.css?s=1&k=ujp0ifo&ht=tk&f=1807&a=20216185&app=typekit&e=css");

@font-face {
    font-family:"purista-web";
    src:url('../../../../fonts/Purista-Web.ttf.woff2') format('woff2'),
    url('../../../../fonts/Purista-Web.ttf.woff') format('woff'),
    url('../../../../fonts/Purista-Web.ttf.eot') format('opentype');
    font-display:auto;
    font-style:normal;
    font-weight:700;
}

.tk-purista-web { font-family: "purista-web",sans-serif; }

.OverlayBodyWV {
    background-color: #C0C0C0;
    background-image: url("../../../../images/BG.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    height: 100%;
    width: 100%;
  }

.ecslogo {
    width: 17.5%;
    height: 17.5%;
    position: absolute;
    left: 45.25%;
    top: 1.5%;
    background-image: url(../../../../images/faceitecs.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

.LowerThird{
    position: fixed;
    bottom: 10%;
    left: 10%;
    width: 80%;
    height: 15%;
    background-color: white;
}

.VetoBox{
    height: 100%;
    width: 4%;
    left: 0%;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #e3c431;
}

.VetoBoxVetoText{
    position: absolute;
    margin-top: -25%;
    top: 50%;
    color: white;
    font-weight: 900;
    font-family: "purista-web";
    font-size: x-large;
    white-space: nowrap;
    transform: rotate(-90deg);
}

.LowerThirdTeam1{
    height: 50%;
    width: 15%;
    right: 0%;
    position: absolute;
    background-color: #ee6205;
}

.LowerThirdTeam1Logo{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 4%;
    background-image: url(../../../../images/faceitecs.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.LowerThirdTeam1Name{
    top: 15%;
    right: 5%;
    color: black;
    font-weight: 700;
    text-align: center;
    position: absolute;
    font-size: xx-large;
    font-family: "purista-web",sans-serif;
}

.LowerThirdTeam2{
    top: 50%;
    right: 0%;
    width: 15%;
    height: 50%;
    position: absolute;
    background-color: #1898d8;
}

.LowerThirdTeam2Logo{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 4%;
    background-image: url(../../../../images/faceitecs.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.LowerThirdTeam2Name{
    top: 15%;
    right: 5%;
    color: black;
    font-weight: 700;
    text-align: center;
    position: absolute;
    font-size: xx-large;
    font-family: "purista-web",sans-serif;
}